
#a{
    background-color:rgb(40, 66, 66);
    width: 100%;
    height: 100px;
    border-bottom: 8px solid rgb(0, 174, 255);
    position:fixed;
    top:0;
}
#b{
    display: inline-block; 
    color:white; 
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px black;
}
button{
         background-color:darkslategray;
         height: 50px;
         width: 150px;
         font-size: 30px;
         font-family:'calibri light', Tahoma, Geneva, Verdana, sans-serif;
         font-weight: bold;   
         margin-left: 8%;
         display: inline-block;
         color: white;
}

#qoute{
    margin-top: 10%;
    display: inline-block;
    border-radius: 800px;
    margin-left: 12%;
}
#c{
    display: inline-block;
    margin-left: 43%;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    
}
a:hover{
    color: rgb(0, 174, 255);
    
}
#f{
     width: 30%;
     display: inline-block;
     background-color:white;
     text-align: left;
     margin-right: 2%;
     margin-left: 9%;
     margin-top: 7%;
     padding-left: 3% ;
     padding-right:2%;
     padding-bottom: 3%;
     font-weight: bold;
}

 .modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
} 
.modal-hidden {
    display: none;
}
.modal-content {
    width: 488px;
    height: 400px;
    background-color:rgb(226, 182, 182);
    border-radius: 8px;
    text-align: center;
    padding: 18px;
    position: relative;
    font-variant: small-caps;
} 

#loginbutton{
    display: inline-block;
    background-color: rgb(201, 37, 64);
    color: white;
    margin-top: 8%;
    margin-left:4%;
    height: 40px;
    width: 90px;
    border-radius: 8px;
    font-size: 20px;     
    font-variant: small-caps;
}
#loginbutton:hover{
   background-color: rgb(40, 66, 66);
   color: white;
   transition: 0.4s;
}
#flogin {
    width: 400px;
    height: 800px;
    display: block;
    margin-right: 2%;
    margin-left: 9%;
    margin-top: 8%;
    padding-top: 2%;
}  

.in{
    height: 25px;
    border-color: white;
    border-width: 2px ; 
    width: 85%;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    font-weight: bold;
    transform: rotate(45deg);
    color: rgb(230, 30, 63);
    border-color: black;
    cursor: pointer;
} 
#e{
    text-align: center;
    position: relative;
    font-family: calibri light;
    color: white;
    font-size: 20px;  
    font-weight: bold;
    text-align:center;
    display: inline;
    top: 30px;
    padding-left: 10px;
    right:90px;
}